.search-field {

  .search-field__input {
    font-size: 2.2em;
    height: 48px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
  }

  .search-field__submit {
    float: right;
    width: 48px;
    height: 48px;
  }

}