.page-loading-indicator {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  transition: opacity 0.3s ease,
    visibility 0.3s ease;

  &.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease,
      visibility 0.2s ease;
  }

  .spinner {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-top: 2px solid #1d1d1d;
    animation: rotate 1s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
  }
}

.load-error {
  margin-top: 20%;
  text-align: center;
  font-weight: 200;

  .whoops {
    font-size: 6em;
  }

  p {
    font-size: 3em;
  }
}