goshko-posts {

  &.idle {

    button.load-more-btn {
      opacity: 1;
      visibility: visible;
    }
    
    .loading-circle-wrapper .circle {
      animation-play-state: paused;
    }

  }

  .loading-circle-wrapper {
    position: relative;
    display: block;
    z-index: 1;
    text-align: center;
    width: 100%;
    margin-top: -4.2rem;

    .circle {
      display: inline-block;
      position: relative;
      width: 32px;
      height: 32px;
      border: 4px solid transparent;
      border-top-color: gray;
      border-radius: 50%;
      animation: spin 1.5s ease infinite;
    }
  }

  button.load-more-btn {
    position: relative;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
    text-align: center;
    min-width: 30rem;
    min-height: 4.7rem;
    background: #f1f1f1;
    border: 2px solid rgba(224, 224, 224, 0.2);
    border-bottom-color: transparent;
    border-right-color: transparent;
    outline: none;
    font-size: 2.8rem;
    font-weight: 300;
    margin: 4.8rem auto auto auto;
    display: block;
    border-radius: 10px/50%;
    border-style: groove;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.3);
    }
  }

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}