goshko-post {
  &.hidden {
    display: none;
  }
}

.post__teaser {
  display: grid;
  margin-top: 42px;
  cursor: pointer;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50px auto;
  grid-auto-rows: minmax(140px, auto);
  grid-template-areas:
    "title metadata"
    "excerpt excerpt";

  &:hover {
    .post__title div::after {
      width: 100%;
    }
  }

  .post__title {
    grid-area: title;
    line-height: 50px;
    font-size: 2.6em;
    margin: 0;
    padding: 0;
    position: relative;

    div {
      position: relative;
      display: inline-block;
    }

    div::after {
      content: "";
      display: block;
      margin-top: -8px;
      width: 0%;
      transition: width 0.25s ease-out;
      height: 2px;
      background-color: black;
    }
  }

  .post__metadata {
    grid-area: metadata;
    text-align: right;
  }

  .post__excerpt {
    grid-area: excerpt;
    font-size: 2.1em;
    line-height: 1.4em;
  }

  .post__tags {
    height: 100%;
    line-height: 50px;
  }

  .post__tag {
    font-size: 1.4em;
    color: #313131;

    &:not(:last-child) {
      margin-right: 6px;
    }

    &::before {
      content: "#";
    }
  }
}