.biography {
  width: 100%;
  margin-top: 3.2em;
  text-align: center;
  font-family: 'Montserrat';

  &.biography--bright {
    color: white;
  }

  &.biography--dark {
    color: #272727;
  }

  .biography__name {
    font-size: 4.8em;
    font-weight: 300;
    margin: 0.3em;
  }

  .biography__position {
    font-size: 2.2em;
    font-weight: 300;
  }

  .biography__about-button {
    outline: none;
    background: none;
    text-align: center;
    margin-top: 32px;
    width: 200px;
    height: 54px;
    border: 1px solid white;
    color: white;
    font-size: 22px;
    font-weight: 200;
  }
}