@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/raleway/Raleway-Light.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/raleway/Raleway-ExtraLight.ttf");
}
