@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: url("../fonts/montserrat/Montserrat-Thin.ttf");
}
