@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sourcesanspro/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/sourcesanspro/SourceSansPro-ExtraLight.ttf");
}
