<div class="post__teaser">
  <h3 class="post__title">
    <div>{{title}}</div>
  </h3>
  <div class="post__metadata">
    <div class="post__tags">
      {{#each postTags}}
      <a href="#" class="post__tag">
        {{.}}
      </a>
      {{/each}}
    </div>
  </div>
  <div class="post__excerpt">{{excerpt}}</div>
</div>