.panel {
  height: 100%;
  position: relative;
  overflow: hidden;
  @import "_panel-left";
  @import "_panel-right";

  .panel__content {
    position: relative;
    min-height: 100%;
    z-index: 2;
  }
}

@media (max-width: 1046px) {
  .panel {
    display: block;
  }

  .panel__left,
  .panel__right {
    width: 100%;
    display: block;
    flex: none !important;
  }
}