&.panel__right {
  flex: 8;
  z-index: 1;
  overflow-y: scroll;
  background-color: #f1f1f1;

  .panel__content {
    padding: 48px;
  }

  .page__title {
    margin: 0;
    font-weight: 300;
    font-size: 4.8em;
  }

}