&.panel__left {
  flex: 4;
  background-color: #646464;
  z-index: 2;
  box-shadow: 0px 0px 24px 5px rgba(83, 83, 83, 0.3);

  .background {
    pointer-events: none;
    user-select: none;
    filter: blur(10px);
    position: absolute;
    margin: -15px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 105%;
    min-height: 105%;
  }

  .avatar {
    position: relative;
    width: 256px;
    overflow: hidden;
    height: 256px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 64px;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15);
    img {
      width: 100%;
      height: 100%;
    }
  }

  .social {
    width: 100%;
    user-select: none;
    height: 48px;
    position: absolute;
    bottom: 96px;
    left: 0;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .social__item {
      width: 48px;
      height: 48px;
      text-align: center;
      margin-right: 16px;

      img {
        width: 48px;
        height: 48px;
      }
    }
  }
}