<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" />
  <link href="./resources/css/main.css" rel="stylesheet" />
</head>

<body>
  <div class="bubble"></div>
  
  <div class="panels">
    {{{include "modules/panel__left"}}}
    {{{include "modules/panel__right"}}}
  </div>

  {{{include "modules/post-overlay"}}}

  <div class="page-loading-indicator">
    <div class="spinner"></div>
  </div>

  <script>
    window.customElements.forcePolyfill = true;
  </script>
  
  <script src="./resources/js/libs.js"></script>
  <script src="./resources/js/precompiled-templates.js"></script>
  <script src="./resources/js/main.bundle.js"></script>

</body>

</html>