.close-button {
  width: 32px;
  height: 32px;
  margin: 32px;
  display: block;
  position: fixed;
  cursor: pointer;

  // &:hover {

  //   .first-line,
  //   .second-line {
  //     animation: dash 3s cubic-bezier(0.165, 0.84, 0.44, 1) alternate forwards;
  //   }

  //   .second-line {
  //     animation-delay: 0.1s;
  //   }
  // }

  // .first-line,
  // .second-line {
  //   stroke-dasharray: 300;
  //   stroke-dashoffset: 300;
  // }
}

@keyframes dash {
  from {
    stroke-dashoffset: 300;
  }

  to {
    stroke-dashoffset: 0;
  }
}