@import "./close-button";

.post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  min-height: 100vh;
  background-color: #f1f1f1;
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  transition: opacity 0.4s ease-in,
    visibility 0.4s ease;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .post__wrapper {
    width: 65%;
    margin: 128px auto 128px auto;
  }

  .post__title {
    text-align: center;
    font-size: 4rem;
  }

  .post__content {
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .post__image {

    img {
      width: 100%;
      height: auto;
    }

    &--left {
      max-width: 500px;
      margin-left: -120px;
      float: left;
      margin-right: 24px;
    }

    &--right {
      max-width: 500px;
      margin-right: -120px;
      float: right;
      margin-left: 24px;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}