.bubble {
  background-color: #f1f1f1;
  position: fixed;
  width: 4vw;
  height: 4vw;
  top: -2000px;
  left: -2000px;
  border-radius: 50%;
  z-index: 99;
  transform: scale(0);
  transform-origin: center center;
  transition: transform 0.35s cubic-bezier(0.19, 0.675, 0.055, 0.55); 

  &.grow {
    transform: scale(80);
    transition: transform 0.35s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
  }
}