<div class="panel panel__right">
  <div class="panel__content">
    <header class="header">
      <div class="header__left">
        <h2 class="page__title">Latest posts</h2>
      </div>

      {{!-- <div class="header__right">
        <div class="search-field">
          <input class="search-field__input" id="searchterms" name="searchterms" type="text" value="" />
          <div class="search-field__submit">
            <img src="./resources/img/icons/icons8-search-48.png" alt="" />
          </div>
        </div>
      </div> --}}
    </header>

    <goshko-posts class="posts">
      <div class="posts-list"></div>
      <button type="button" class="load-more-btn">Load more</button>
      <div class="loading-circle-wrapper">
        <span class="circle"></span>
      </div>
    </goshko-posts>

  </div>
</div>
