<div class="panel panel__left">
  <img src="./resources/img/background/bkg.jpg" alt="" class="background" />

  <div class="panel__content">
    <div class="avatar">
      <img src="./resources/img/avatar.jpg" alt="" />
    </div>

    <div class="biography biography--dark">
      <h1 class="biography__name">
        Georgi Yanev
      </h1>
      <div class="biography__position">
        Software Developer
      </div>
      {{!-- <button class='biography__about-button'>
        About me
      </button> --}}
    </div>

    {{!-- {{{include "modules/social" }}} --}}

  </div>

</div>