<div class="post-overlay">
  <svg class="close-button">
    <line class="first-line" x1="0" y1="0" x2="32" y2="32" stroke="black" stroke-width="2" />
    <line class="second-line" x1="0" y1="32" x2="32" y2="0" stroke="black" stroke-width="2" />
  </svg>
  <goshko-post id="detailed-view"></goshko-post>
</div>