<div class="social">
  <div class="social__item">
    <a href="#">
      <img src="./resources/img/icons/icons8-codepen-96.png" alt="" />
    </a>
  </div>

  <div class="social__item">
    <a href="#">
      <img src="./resources/img/icons/icons8-gitlab-100.png" alt="" />
    </a>
  </div>

  <div class="social__item">
    <a href="#">
      <img src="./resources/img/icons/icons8-instagram-100.png" alt="" />
    </a>
  </div>

  <div class="social__item">
    <a href="#">
      <img src="./resources/img/icons/icons8-email-100.png" alt="" />
    </a>
  </div>
</div>