html,
body {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Source Sans Pro";
  background-color: #f1f1f1;

  &.post-overlay--opened {
    overflow-y: scroll;
  }

}

.panels {
  width: 100vw;
  height: 100vh;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}